@use '../abstracts' as *;

.even-columns {
  display: grid;
  gap: var(--grid-gap, $grid-gap);

  & > * {
    margin-inline: auto;
    max-inline-size: var(--max-inline-size, 500px);
  }

  @include mq(medium) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}