@use '../abstracts' as *;

.button {
  cursor: pointer;
  display: inline-flex;
  border: 0;
  padding: 1.125em 2em;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
}

.button[data-type="primary"] {
  background-color: clr(primary, 400);
  color: clr(neutral, 900);
}

.button[data-type="outline"] {
  --outline-size: 5px;

  outline: var(--outline-size) solid clr(neutral, 100);
  outline-offset: calc(var(--outline-size) * -1);
  background: transparent;
  color: clr(neutral, 100);
}