@use '../abstracts' as *;

.section-heading {
  &:has(p) {
    margin-block-end: size(36);
  }

  &:not(:has(p)) {
    margin-block-end: calc(size(36) * 2.5);
  }

  &[data-decoration="true"]::after {
    content: '';
    display: block;
    margin-block: size(36);
    block-size: 1px;
    inline-size: 10rem;
    background-color: currentColor;

    .text-center & {
      margin-inline: auto;
    }
  }
}